<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="css/style.css"/>
	<title>Basic Bikes</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
		
	<div id="storage">
		
		<header>
		<h1>Basic Bikes</h1>
		</header>
	
	<nav>
		<ul>
			<li><a href="Home.html">Home</a></li>
			<li><a href="mountain.html">Mountain Bikes</a></li>
			<li><a href="road.html">Road Bikes</a></li>
			<li><a href="miscellaneous.html">Hybrid Bikes</a></li>
		</ul>
	</nav>

		<main>
		</main>

	`	<footer>
		&copy; Copyright 2020 All Rights Reserved<br>
		<p>Do not try to ride a bike without proper experience<br>We are not responsible for any injuries you may aquire</p>
		</footer>
	</div>
</body>
</html>